
* {
    box-sizing: border-box; text-align: center;
}

body { 
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px
}


header {
    background: #ebebeb
}

nav {
    background: #ebebeb
}

aside {
    background: #ebebeb
}

section {
    background: #ebebeb
}

article {
    background: #ebebeb;
    color: #777
}

footer {
    background: #ebebeb
}